@import "compass/typography/vertical_rhythm";

//Vertical Rhythm

$base-font-size:18px;
$base-line-height:28px;
$rhythm-unit:"px";
@include establish-baseline;

body {
  font-family: 'Open Sans';
  @include adjust-font-size-to(18px);
  a {
    color:$light_green;
  }
}
#wrap {
  h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans';
    font-weight: 100;
  }
  .paragraph {
    h1,h2,h3,h4,h5,h6 {
      font-weight:bold;
    }
  }
  footer h2.block-title {
   font-weight:300;
  }
}
//Page Headers
#wrap .page_title_wrap {
  width: 100%;
  height: 82px;
  padding: 16px 0 20px;
  background: $lightest_grey;
  display: table;
  .region-page-title {
    @extend .container;
    h1.page-header {
      @include adjust-font-size-to(32px,1.3);
      color: $dark_grey;
      margin: 20px 10px;
      position: relative;
      text-transform: capitalize;
      font-family: 'Open Sans';
      font-weight: 100;
      letter-spacing: 0;
      border-bottom:none;
    }
  }
}

//Font Awesome
[class^="fa-"], [class*=" fa-"] {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-chevron-up:before {
    content: "\f077";
}

