/* Variables for this theme outside of bootstrap
 * 
 */

// Colors
$lightest_grey: #F7F7F7;
$lighter_grey: #DDD;
$light_grey: #CCC;
$grey:#91979d;
$medium_grey: #2D2D2D;
$dark_grey: #222;
$light_green: #99C549;
$medium_green:#84C041;
$dark_green: #84BF41;
$off_white:#f5f5f5;
$footer_border_grey:#212121;
$shadow_grey:#373737;
$topbar_orange: #fd7c7d;
$topbar_grey: #9aa6af;

