/*
	Plugin	: FontAwesome (Premium)
	Author	: Michael Janea (www.michaeljanea.com)
	Version	: 1.1
*/

@import url('font-awesome.min.css');

#fontAwesomeIcons {}
	#fontAwesomeIcons input[type=text], #fontAwesomeIcons select {padding:.3em; border:1px solid #ddd; -webkit-border-radius:3px; border-radius:3px; -webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,0.075); box-shadow:inset 0 2px 2px rgba(0,0,0,0.075); background:rgba(0, 0, 0, .01);}
	#fontAwesomeIcons select, #fontAwesomeIcons .search {width:100%;}
	#fontAwesomeIcons input[type=button] {-webkit-border-radius:3px; border-radius:3px; padding:.3em .5em; border:1px solid #ddd; cursor:pointer; background: #e4e4e4; background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#e4e4e4)); background-image:-moz-linear-gradient(top,#fff,#e4e4e4); background-image:-webkit-linear-gradient(top,#fff,#e4e4e4); background-image:-o-linear-gradient(top,#fff,#e4e4e4); background-image:-ms-linear-gradient(top,#fff,#e4e4e4); background-image:linear-gradient(top,#fff,#e4e4e4); filter:progid:DXImageTransform;}
	#fontAwesomeIcons input[type=button]:hover {text-decoration:underline;}
	#fontAwesomeIcons table {width:100%; border-collapse:collapse; margin-bottom:.5em;}
	#fontAwesomeIcons th, #fontAwesomeIcons td {padding:.5em;}
	#fontAwesomeIcons th {font-weight:bold;}
	#fontAwesomeIcons td {vertical-align:top; width:33.333%;}

#fontAwesome_Container {max-height:300px; overflow:auto;}
	#fontAwesome_Container a {display:block; width:115px; min-height:100px; float:left; color:#000; padding:.5em 0 .5em; -webkit-box-sizing:border-box; box-sizing:border-box;}
	#fontAwesome_Container a:hover, #fontAwesome_Container a:focus {text-decoration:none; background-color:#eee;}
	#fontAwesome_Container a.active {background-color:#ddd;}
	#fontAwesome_Container a span {display:block; margin:auto; margin-bottom:.3em; font-size:30px; text-align:center;}
	#fontAwesome_Container a div {text-align:center; white-space:pre-wrap; padding:0 .5em;}