{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="logo">
        <a href="/"><img src="/themes/zika/assets/images/Transheader-Zika.png" alt="logo"></a>
      </div>
    </div>
    <div class="col-md-7">
    <hr class="vertical-space">
      {% if content %}
        <div{{ attributes }}>
         {{ content }}
      </div>
      {% endif %}
    </div>
  </div>
</div>
<hr class="vertical-space">
