{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
<div class="field_image col-md-3">

  {%- if fields.field_image.wrapper_element -%}
    <{{ fields.field_image.wrapper_element }}{{ fields.field_image.wrapper_attributes }}>
  {%- endif %}
  {%- if fields.field_image.label -%}
    {%- if fields.field_image.label_element -%}
      <{{ fields.field_image.label_element }}{{ fields.field_image.label_attributes }}>{{ fields.field_image.label }}{{ fields.field_image.label_suffix }}</{{ fields.field_image.label_element }}>
    {%- else -%}
      {{ fields.field_image.label }}{{ fields.field_image.label_suffix }}
    {%- endif %}
  {%- endif %}
  {%- if fields.field_image.element_type -%}
    <{{ fields.field_image.element_type }}{{ fields.field_image.element_attributes }}>{{ fields.field_image.content }}</{{ fields.field_image.element_type }}>
  {%- else -%}
  {{ fields.field_image.content }}
  {%- endif %}
  {%- if fields.field_image.wrapper_element -%}
    </{{ fields.field_image.wrapper_element }}>
  {%- endif %}

</div>

<div class="field_content col-md-9">
  {%- if fields.title.wrapper_element -%}
    <{{ fields.title.wrapper_element }}{{ fields.title.wrapper_attributes }}>
  {%- endif %}
  {%- if fields.title.label -%}
    {%- if fields.title.label_element -%}
      <{{ fields.title.label_element }}{{ fields.title.label_attributes }}>{{ fields.title.label }}{{ fields.title.label_suffix }}</{{ fields.title.label_element }}>
    {%- else -%}
      {{ fields.title.label }}{{ fields.title.label_suffix }}
    {%- endif %}
  {%- endif %}
  {%- if fields.title.element_type -%}
    <{{ fields.title.element_type }}{{ fields.title.element_attributes }}>{{ fields.title.content }}</{{ fields.title.element_type }}>
  {%- else -%}
  {{ fields.title.content }}
  {%- endif %}
  {%- if fields.title.wrapper_element -%}
    </{{ fields.title.wrapper_element }}>
  {%- endif %}

  {%- if fields.created.wrapper_element -%}
    <{{ fields.created.wrapper_element }}{{ fields.created.wrapper_attributes }}>
  {%- endif %}
  {%- if fields.created.label -%}
    {%- if fields.created.label_element -%}
      <{{ fields.created.label_element }}{{ fields.created.label_attributes }}>{{ fields.created.label }}{{ fields.created.label_suffix }}</{{ fields.created.label_element }}>
    {%- else -%}
      {{ fields.created.label }}{{ fields.created.label_suffix }}
    {%- endif %}
  {%- endif %}
  {%- if fields.created.element_type -%}
    <{{ fields.created.element_type }}{{ fields.created.element_attributes }}>{{ fields.created.content }}</{{ fields.created.element_type }}>
  {%- else -%}
  {{ fields.created.content }}
  {%- endif %}
  {%- if fields.created.wrapper_element -%}
    </{{ fields.created.wrapper_element }}>
  {%- endif %}

  {%- if fields.field_news_author.wrapper_element -%}
    <{{ fields.field_news_author.wrapper_element }}{{ fields.field_news_author.wrapper_attributes }}>
  {%- endif %}
  {%- if fields.field_news_author.label -%}
    {%- if fields.field_news_author.label_element -%}
      <{{ fields.field_news_author.label_element }}{{ fields.field_news_author.label_attributes }}>{{ fields.field_news_author.label }}{{ fields.field_news_author.label_suffix }}</{{ fields.field-news-author.label_element }}>
    {%- else -%}
      {{ fields.field_news_author.label }}{{ fields.field_news_author.label_suffix }}
    {%- endif %}
  {%- endif %}
  {%- if fields.field_news_author.element_type -%}
    <{{ fields.field_news_author.element_type }}{{ fields.field_news_author.element_attributes }}>{{ fields.field_news_author.content }}</{{ fields.field_news_author.element_type }}>
  {%- else -%}
  by {{ fields.field_news_author.content }}
  {%- endif %}
  {%- if fields.field_news_author.wrapper_element -%}
    </{{ fields.field_news_author.wrapper_element }}>
  {%- endif %}

  {%- if fields.body.wrapper_element -%}
    <{{ fields.body.wrapper_element }}{{ fields.body.wrapper_attributes }}>
  {%- endif %}
  {%- if fields.body.label -%}
    {%- if fields.body.label_element -%}
      <{{ fields.body.label_element }}{{ fields.body.label_attributes }}>{{ fields.body.label }}{{ fields.body.label_suffix }}</{{ fields.body.label_element }}>
    {%- else -%}
      {{ fields.body.label }}{{ fields.body.label_suffix }}
    {%- endif %}
  {%- endif %}
  {%- if fields.body.element_type -%}
    <{{ fields.body.element_type }}{{ fields.body.element_attributes }}>{{ fields.body.content }}</{{ fields.body.element_type }}>
  {%- else -%}
  {{ fields.body.content }}
  {%- endif %}
  {%- if fields.body.wrapper_element -%}
    </{{ fields.body.wrapper_element }}>
  {%- endif %}

</div>
