//Centered toggle button
 .fade_in_green_button{
  text-align:center;
  a {
   color:white;
   border:1px solid $dark_green;
   padding: 18px 25px;
   border-radius:5px;
   @include adjust-font-size-to(16px);
   display:none;
   background-image: linear-gradient(to bottom,rgba(255,255,255,.2) 0,rgba(255,255,255,.01) 100%);
   background-image: -webkit-linear-gradient(top,rgba(255,255,255,.2) 0,rgba(255,255,255,.01) 100%);
   background-color:$light_green;
   &:hover {
     background:$dark_green;
     text-decoration:none;
   }
  }
}
.white_grey_bordered_button a {
    background: #fff;
    border: 1px solid $lighter_grey;
    //border: 1px solid #e5e5e5;
    text-transform: uppercase;
    @include adjust-font-size-to(10px);
    letter-spacing: 1px;
    font-weight: bold;
    position: absolute;
    bottom: -15px;
    left: 20px;
    padding: 8px 12px;
    @include transition-property(all);
    @include transition-duration(.3s);
    @include transition-timing-function(ease-in-out);
    margin-left: 75%;
    white-space:nowrap;
    line-height:23px;
    text-decoration:none;
    @media (max-width: $container-tablet) {
      margin-left:25%;
    }
    &:hover {
      color:#000;
      &:after{
        border: 1px solid #22b8fc;
        color:  #22b8fc;
      }
    }
    &:after {
      content: "\f054";
      font-family: 'FontAwesome';
      position: relative;
      color: $grey;
      top: 0;
      right: -3px;
      @include adjust-font-size-to(12px);
      padding: 3px 3px 2px 4px;
      border: 1px solid $grey;
      border-radius: 50%;
      speak: none;
      font-style: normal;
      font-weight: normal;
      text-transform: none;
      line-height: 1;
    }
}
.mailchimp-signup-subscribe-form {
  button.form-submit {
   border-radius: 3px;
   color: white;
   display:inline-block;
   @include adjust-font-size-to(14px);
   background:$light_green; 
   border:none;
   line-height:1;
   padding: 15px 40px;
  }
}
.addtoany_list {
  //float:right;
}
