form#comment-form.comment-anonymous-comments-form {

  border-top: 1px solid #ccc;

  &::before {
    content: "Your email address will not be published. Required fields are marked *";
  }

  .form-item-name .control-label::after {
    content: " *";
  }

  .form-item-name, .field--type-email {
    float: left;
    width: 30%;
    margin-right: 5em;
  }

  .field--type-link {
    float: left;
    width: 30%;
  }

  .form-actions {
    clear: both;
    //float: right;
    .form-submit {
      margin-right:10px;
    }
  }
}
