div.jumbotron_image {
  @extend .jumbotron;
  padding:0;
  margin:0;
  overflow:hidden;
  background-color:white;
  .region-jumbotron {
    background-color:white;
    max-width:100% !important;
    section {
      position:relative;
      h2.block-title {
        position:absolute;
        right:0;
        bottom:0;
        text-align:center;
        padding:0;
        margin:0 0 30px 0;
        text-shadow: rgb(68, 68, 68) 2px 2px;
        font-weight: bold; 
        color:white;
        opacity:0;
        display:inline-block;
        max-width:100% !important; 
        @media (max-width:$screen-sm-max) {
          color:#333;
          padding-top:20px;
          text-shadow:none;
          display:block;
          text-align:center;
          position:initial;
        }
      }
      img {
        width:100% !important;
        @media (max-width:$screen-sm-max) {
          display:none;
        }
      }
    }
  }
}
.path-frontpage .jumbotron {
  display:none;
}
