body {
}

//Layout utilities
.lftflot {
  float:left;
}
.rgtflot {
  float:right;
}

//Footer layout
footer {
  .footer_left {
    @extend .col-sm-3;
  }
  .footer_right {
    @extend .col-sm-6;
  }
  .footer_center {
    @extend .col-sm-3;
  }
}

//Scroll Up Icon
#scroll-top {
  padding: 4px 8px 6px;
  border-radius: 4px;
  background: #818c90;
  position: fixed;
  bottom: 48px;
  right: 32px;
  display: none;
  opacity: 0.89;
  filter: alpha(opacity=89);
  z-index: 499841;
  color:white;
  &:hover {
  background-color: #ffcc00;
  cursor: pointer;
  }
}
.page-node-type-bootstrap-page {
  .paragraph--type--row {
    @extend .container; 
    &>div {
    @extend .row;
    }
  } 
  div.paragraph--type--ju {
    @extend .jumbotron; 
    margin-top:1.5em;
    margin-bottom:1.5em;
    padding:0;
    background-color:$lightest_grey;
      &>div {
        @extend .container;
        text-align:center;
        h2 {
          color:$light_green;
        }
      }
  }
}
.page-node-type-article .top_space {
  padding-top:20px;
}
