@import "compass/css3";

.navbar-default {
  .navbar-toggle {
    border-color:$dark_grey;
    &:hover {
      background-color:$medium_green;
    }
    .icon-bar {
      background-color:$dark_grey;
    }
  }
  background-color:transparent;
  margin:0;
  .navbar-nav {
     .open {
       a {
        background: $light_green;
        &:hover {
          background: $light_green;
        }
        &:focus {
          background: $light_green;
        }
       }
    }
  }
  #block-smalllogo {
    p { 
      margin:0;
      padding:0;
   }
   display:none;
  }
}

#navbar {
  //Override default
  border:none;
  }
.navbar-default .navbar-collapse {
  @extend .navbar-default;
  border-top:1px solid white;
  border-bottom:4px solid #f3f3f3;
  border-right:none;
  border-left:none;
  border-radius:0;
  li{
   border-right:1px solid white;
   @media (max-width:$grid-float-breakpoint-max) {
     border-right:none;
   }
   &:first-of-type {
      border-left:1px solid white;
      @media (max-width:$grid-float-breakpoint-max) {
        border-left:none;
      }
   }
   a {
     color:white;
     @include adjust-font-size-to(18px);
      @media (max-width:$screen-lg) {
        @include adjust-font-size-to(13px);
      }
     background: $light_green;
     font-family: 'Open Sans';
     font-weight: bold;
     &:hover {
       color:$dark_grey;
       background: $light_green;
     }
   }
  }
  ul.dropdown-menu {
    background-color: $light_green;
    li {
      border-right:none;
      border-left:none;
      border-bottom:1px solid white;
      &:last-of-type {
        border:none;
      }
      [class^='flaticon-']::before, [class*=' flaticon-']::before, [class^='flaticon-']::after, [class*=' flaticon-']::after, i.flaticon-animal::before { font-size:1em !important;}
      @media (max-width:$grid-float-breakpoint-max) {
        border:none;
      }
      a {
        font-weight: normal;
      }
    }
  }
} 
#navbar.affix {
 top:0px;
 z-index:100000000;
 background-color:$light_green;
 width:100%;
 position:fixed; 
 #block-smalllogo {
   display:inline;
   position:absolute;
   top:-7px;
   z-index:9999;
   img {
    max-width:100%;
   }
 }
 .navbar-collapse {
   nav {
     float:right;
     li {
       border:none;
       a:hover {
         background:$light_grey;
       }
     }
   }
 }
}

body.user-logged-in #navbar ul.menu.navbar-nav > :nth-child(5) {
 display: none;
}
