#wrap .region-sidebar-second {
  section.views-element-container
   {
    h2 {
      color:$light_green;
      text-transform:uppercase;
      @include adjust-font-size-to(14px);
      line-height:21px;
      border-bottom:5px solid $lighter_grey;
      font-weight:bold;
      margin-top:0;
      &:before {
        content:url('/themes/zika/assets/images/rss.png');
        border-bottom:5px solid $light_green;
        padding-right:5px;
      }
   }
   .views-row {
    border-top:1px solid $light_grey;
    &:first-of-type { border:none;}
    margin-top:15px;
   }
   table {
    tr {
     td:first-of-type {
       display:none;
     }
     td.j a {
      color:$grey;
      font-size:13px;
      line-height:1;
      font-weight:bold;
      
     }
     td.j>font>br:first-of-type{display:none;}
     td {
       color:$grey;
       line-height:1.25em;
     }
    }
   }
  }
}
.path-news #wrap .region-sidebar-second,
.path-node #wrap .region-sidebar-second {
  .news-feed {
    font-size: 0.73em;
    article {
      line-height:21px;
      margin-top: 1em;
      .aggregator-item-title {
        font-weight: bold;
      }
      .aggregator-item-content {
        color:$grey;
         a {
           font-weight:bold;
         }
        img {
          display: none;
        }
        table {
          tr>td:first-of-type {
            display:none;
          }
         td.j>font>br:first-of-type{display:none;}
        }
      }
    }
  }
}
