.top_bar {
  background-color:black;
  color: white;
  @include adjust-font-size-to(12px);
  padding: 4px 0 0 4px;
  .language-switcher-language-url, #block-zika-account-menu {
    ul.links {float:right;}
    li {
     list-style-type:none;
     float:left;
     &:after {
       content: '|';
       color:white;
     }
     &:last-child:after {
      content: '';
     
     }
    }
    a {
      color: white;
      font-weight:bold;
      text-transform:uppercase;
      letter-spacing: .6px;
      display:inline;
      margin:0 10px;
      padding:0;
      &:hover {
       text-decoration:none;
       background: transparent;
      }
    }
    p{
     margin:0;
    }
  }
  .region-utility-left{
    float:left;
  }
  .region-utility-right {
    float:right;
    width:100%;
  }
  #block-languageswitcher h2.block-title {
    font-size:1em;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:.6px;
    line-height:20px;
    padding-right:20px;
    text-indent:-9999px;
    padding:0;
    margin:0;
    height:0;
  }
  @media (max-width:$grid-float-breakpoint-max) {
    #block-languageswitcher {
      h2.block-title {
        text-indent:0;
        padding-right:30px;
        height:auto;
        margin: ($navbar-padding-vertical / 2) (-$navbar-padding-horizontal);
        &:hover {
          cursor:pointer;
        }
      }
      ul.links { 
        background-color: #F4F4F4;
        box-shadow: 2px 2px 3px #444444;
        display: none;
        list-style: none outside none;
        margin: 0;
        padding: 0;
        position: absolute;
        z-index: 500; 
        float:right;
        li {
          display: block; 
          list-style: none; 
          text-align: center;
          border:none;
          font-weight:300;
          padding:0;
          margin:0;
          width:100%;
          line-height:1em;
          a {
             display: block; 
             text-decoration: none;
             font-weight:300;
             color:$gray;
             margin:0;
             padding:10px;
             &:hover {
              background-color: #ccc; 
              color: #fff;  
             }
          }
        }
      }
    }
  }
} 
